.text-todo{
  background-color: white;
  border: 0;
  text-align: start;
  border-radius: 3px;
}
p{
  color: white;
  margin:5px 0 ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button{
  margin-left: 5px;
  background-color: white;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}

.button:active{
  background-color: rgb(160, 160, 160);
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  animation-name: loading;
  animation-duration: 2sec;
}

li{
  padding: 0;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px 0;
}

.delete{
  background-color: rgb(160, 0, 0);
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  width: 22px;
  height: 20px;
}

.delete:hover{
  background-color:rgb(255, 0, 0);
}

.delete:active{
  background-color: rgb(58, 0, 0);
}

.loading{
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 30px;
}

hr{
  margin: 30px 0
}

.noTodo {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.update{
  background-color: rgb(187, 187, 0);
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  width: 22px;
  height: 20px;
  margin: 0 5px;
}

.update:hover{
  background-color:rgb(244, 244, 0);
}

.update:active{
  background-color: rgb(135, 135, 0);
}
